.main {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 30px;
    margin: 40px;
    background-color: rgb(185, 207, 207);
    border-radius: 10px;
}

@media (max-width: 1024px) {
    .main {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .main {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 20px;
        padding-top: 60px;
        margin: 0;
        border-radius: 0%;
    }
}