.container {
    display: flex;
    margin: 50px;
    background-color: rgb(243, 241, 238);
    border-radius: 15px;
}

.cartProducts {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
}

.product {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

.product:before {
    position: absolute;
    content: "";
    border: 1px solid black;
    opacity: 0.2;
    width: 95%;
    bottom: 0;
}

.imgContainer {
    padding: 30px;
    width: 25%;
    border-radius: 20px;
}

.product img {
    width: 100%;
}

.infoContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    width: 70%;
}

.infoContainer h1 {
    font-size: 40px;
}

.infoContainer p {
    font-size: 18px;
}

.titleBlock {
    width: 33%;
}

.priceBlock {
    display: flex;
    align-items: center;
}

.adjustQuantity {
    display: flex;
    text-align: center;
    gap: 10px;
}

.quantity {
    border: 1px solid black;
    padding: 0 10px;
}

.adjustQuantity span {
    font-weight: 600;
    font-size: 18px;
    width: 40%;
    border-radius: 5px;
    cursor: pointer;
}

.billContainer {
    width: 40%;
}

.cartBill {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    background-color: rgb(232, 225, 237);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    min-height: 100%;
    color: black;
}

.total {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.billBtn {
    font-size: 15px;
    padding: 10px 15px;
    background-color: lightblue;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.billBtn:hover {
    background-color: rgb(175, 182, 188);
}

.billBtn:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.myForm {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1024px) {

    .container {
        flex-direction: column;
    }

    .imgContainer {
        height: fit-content;
    }

    .cartProducts {
        width: 100%;
    }

    .billContainer {
        padding: 20px;
        width: 100%;
    }

    .cartBill {
        border-radius: 15px;
    }
}

@media (max-width: 750px) {
    .container {
        flex-direction: column;
        padding: 30px;
        gap: 40px;
    }

    .cartProducts {
        width: 100%;
    }

    .product {
        padding: 20px;
        flex-direction: column;
        gap: 0px;
        background-color: rgb(221, 239, 239);
        border-radius: 10px;
    }

    .imgContainer {
        padding: 10px;
        width: 50%;
    }

    .infoContainer {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .titleBlock {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .billContainer {
        width: 100%;
    }

    .cartBill h1 {
        font-size: 28px;
    }
}

@media (max-width: 500px) {
    .container {
        margin: 0;
        padding: 20px;
        border-radius: 0%;
    }

    .cartProducts {
        padding: 0;
    }

    .infoContainer {
        padding: 0;
    }

    .billContainer {
        padding: 0;
    }
}