.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 20%;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    height: fit-content;
}

.navigation {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.link {
    display: flex;
    align-items: center;
    gap: 11px;
}

.navigation a {
    padding: 10px 20px;
    color: black;
    background-color: rgb(228, 239, 240);
    border-radius: 8px;
}

.navigation a:hover {
    background-color: rgb(215, 222, 222);
}