.parentContainer {
    margin-top: 60px;
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 18.5%);
    justify-content: center;
    gap: 20px;
}

.product {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 100%;
    background-color: rgb(233, 244, 244);
}

.productImg {
    align-self: center;
}

.productImg img {
    width: 100%;
}

.infoStock {
    font-size: 12px;
    padding: 5px 10px;
    background-color: rgb(28, 28, 48);
    color: white;
    width: fit-content;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 7px;
}

.infoProduct {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.infoProduct button {
    background-color: rgb(28, 28, 48);
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.infoProduct button:hover {
    background-color: rgb(32, 32, 99);
}

.infoProduct button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

@media (max-width: 1024px) {
    .container {
        grid-template-columns: repeat(auto-fit, 30.5%);
        justify-content: flex-start;
    }
}