.parentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.container {
    position: relative;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px;
    background-color: rgb(28, 28, 43);
    margin-top: 50px;
    border-radius: 10px;
}

.buttonLeftIcon {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    background-color: transparent;
    padding: 4px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.buttonRightIcon {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding: 4px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.buttonLeftIcon:hover,
.buttonRightIcon:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

.buttonLeftIcon:active,
.buttonRightIcon:active {
    background-color: rgba(128, 128, 128, 0.7);
}

.leftIcon {
    font-size: 40px;
    color: white
}

.rightIcon {
    font-size: 40px;
    color: white;
}

.textContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.textContainer h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.description {
    font-size: 11px;
    width: 100%;
}

.oldPrice {
    margin-top: 10px;
    position: relative;
    font-size: 18px;
    width: fit-content;
}

.oldPrice:after {
    content: "";
    position: absolute;
    border: 1px solid white;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.newPrice {
    font-size: 24px;
    font-weight: 700;
}

.btnBuy {
    margin-top: 10px;
    width: fit-content;
}

.textContainer button {
    background-color: rgb(2, 2, 24);
    color: white;
    border-radius: 6px;
    font-weight: 800;
    padding: 4px 36px;
    border: none;
    cursor: pointer;
}

.textContainer button:hover* {
    background-color: rgb(39, 10, 65);
}

.imgContainer {
    width: 40%;
}

.imgContainer img {
    width: 100%;
}